[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
Type=simple
ExecStart={{ node_exporter_install_path }}/node_exporter
Restart=always

[Install]
WantedBy=multi-user.target